<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>User signup</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>user.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Admin signup</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Layout head</servlet-name>
        <jsp-file>/layout/head.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Layout header</servlet-name>
        <jsp-file>/layout/header.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Layout footer</servlet-name>
        <jsp-file>/layout/footer.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>KBC head</servlet-name>
        <jsp-file>/kbc/kbcheader.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>KBC main</servlet-name>
        <jsp-file>/kbc/main.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>feeds</servlet-name>
        <servlet-class>def.Feeds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login Result</servlet-name>
        <jsp-file>/loginS.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>KbcResults</servlet-name>
        <servlet-class>def.KbcResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>dbconn.Reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQ</servlet-name>
        <servlet-class>user.AddQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin Panel</servlet-name>
        <jsp-file>/user/frame.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Admin head</servlet-name>
        <jsp-file>/user/ahead.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Admin header</servlet-name>
        <jsp-file>/user/aheader.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Dash</servlet-name>
        <jsp-file>/user/dash.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ATools</servlet-name>
        <jsp-file>/user/tools.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>QAdd</servlet-name>
        <jsp-file>/user/addQ.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Tables</servlet-name>
        <jsp-file>/user/tables.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <jsp-file>/user/logout.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>KBC Start</servlet-name>
        <jsp-file>/kbc/start.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Quit</servlet-name>
        <servlet-class>def.Quit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_process</servlet-name>
        <url-pattern>/login_go</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register_go</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User signup</servlet-name>
        <url-pattern>/user/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User login</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin login</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin signup</servlet-name>
        <url-pattern>/admin/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Layout head</servlet-name>
        <url-pattern>/head</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Layout header</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Layout footer</servlet-name>
        <url-pattern>/footer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KBC head</servlet-name>
        <url-pattern>/khead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KBC main</servlet-name>
        <url-pattern>/kbc/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login Result</servlet-name>
        <url-pattern>/loginResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feeds</servlet-name>
        <url-pattern>/kbc/feed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KbcResults</servlet-name>
        <url-pattern>/kbc/results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQ</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin Panel</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin head</servlet-name>
        <url-pattern>/ahead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin header</servlet-name>
        <url-pattern>/aheader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dash</servlet-name>
        <url-pattern>/dash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ATools</servlet-name>
        <url-pattern>/tools</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QAdd</servlet-name>
        <url-pattern>/addQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tables</servlet-name>
        <url-pattern>/tabs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KBC Start</servlet-name>
        <url-pattern>/kbc/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quit</servlet-name>
        <url-pattern>/kbc/quit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>AProfile</servlet-name>
        <jsp-file>/user/profile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>login_process</servlet-name>
        <servlet-class>user.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AProfile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
