/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Sep, 2018, 10:26:31 PM
    Author     : Yashas Hr
*/
@import url('/CS121/res/fonts/Ubuntu-Regular.ttf');
@import url('/CS121/res/fonts/Montserrat-ExtraBold.ttf');

div{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: url('/CS121/kbc/res/kbcbg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.pop{
    position: absolute;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    min-width: 100px;
    padding: 10px 7px;
    height: 50px;
    right: -315px;
    bottom: 25px;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
}
#pop-v, #pop-x{
    display: none;
    padding-right: 5px;
}
.pop-text{
    color: #eee;
    font-family: monospace;
    font-size: 18px;
    font-weight: 900;
}
.pop.success,.pop.fail{
    opacity: 1;
    right: 15px;
    transition: 1s;
}
.pop.success{
    background: rgba(142, 214, 100,0.7);
    border-color: #273B1C;
}
.pop.success > .pop-text:after{
    content: "Success";
}
.pop.success > #pop-v{
    display: inline-block;
    color: #273B1C;
}
.pop.fail{
    background: rgba(255, 27, 28, 0.7);
    border-color: #740D0D;
}
.pop.fail > .pop-text:after{
    content: "Error";
}
.pop.fail > #pop-x{
    display: inline-block;
    color: #740D0D;
}
.op-1{
    opacity: 1;
}
.op-0{
    opacity: 0;
}
.fo-animate{
    animation: fade-out 4s;
    animation-delay: 3s;
}
@keyframes fade-out{
    from {opacity: 1;}
    to {opacity: 0;}
}

.container .bg{
    display: block;
    position: absolute;
    top: 37%;
    left: 39.8%;
    width: 400px;
    height: 390px;
    background-color: rgba(11,11,11,0.4);
    border-radius: 500px;
    transition: all 0.4s ease-out;
    z-index: -1;
}
.container .bg.full{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    min-height: 880px;
    height: 100vh;
    border-radius: 0px;
}
.content{
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
    min-height: 880px;
    align-items: center;
    justify-content: space-evenly;
}

.q-box, .bottom-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.q-box{
    flex-flow: column nowrap;
}
/*Q TIMER*/
.q-timer{
    display: block;
    margin-bottom: 14px;
}
/*QUESTION AND OPTION BOX*/
.q-box-container{
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.q-container:before, .q-opt-row:before{
    content: '';
    width: 100%;
    position: absolute;
    top: 48.9%;
    border-bottom: 5px solid gold;
    z-index: -1;
}
.q-container{
    display: inline-flex;
    flex-flow: row nowrap;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
    overflow: hidden;
}
.l-tr, .r-tr{
    position: relative;
    width: 0;
    height: 0;
    border-top: 85px solid transparent;
    border-bottom: 85px solid transparent;
}
.l-tr{
    border-right: 85px solid lightskyblue;
    border-left: 85px solid transparent;
}
.l-tr:before, .l-tr:after, .l-opt-tr:before, .l-opt-tr:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}
.l-tr:before, .l-tr:after{
    right: -85px;
}
.l-tr:before{
    bottom: -85px;
    border-color: transparent gold transparent transparent;
    border-width: 85px;
}
.l-tr:after{
    bottom: -80px;
    border-color: transparent lightskyblue transparent transparent;
    border-width: 80px;
}
.r-tr{
    border-right: 85px solid transparent;
    border-left: 85px solid lightskyblue;
}
.r-tr:before, .r-tr:after, .r-opt-tr:before, .r-opt-tr:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}
.r-tr:before, .r-tr:after{
    left: -85px;
}
.r-tr:before{
    bottom: -85px;
    border-color: transparent transparent transparent gold;
    border-width: 85px;
}
.r-tr:after{
    bottom: -80px;
    border-color: transparent transparent transparent lightskyblue;
    border-width: 80px;
}
.open{
    width: 100% !important;
}
.q, .opt{
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: linear-gradient(to right, lightskyblue, aqua, lightskyblue);
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
    width: 0;
    max-width: 80%;
    transition: width 1s ease-out;
}
.q{
    height: 170px;
}
#q{
    font-size: xx-large;
}
.q-opt-row{
    display: inline-flex;
    flex-flow: row wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    margin-top: 20px;
    overflow: hidden;
}
.q-opt{
    display: inline-flex;
    flex-flow: row nowrap;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 47%;
    width: 100%;
    height: 130px;
    cursor: pointer;
}
.q-opt.select .opt, .q-opt.lock .opt,.q-opt:hover:not(.select) > .opt{
    background: linear-gradient(to right,gold, yellow, gold);
    font-weight: 600;
}
.q-opt.select > .l-opt-tr:after, .q-opt.lock > .l-opt-tr:after, .q-opt:hover:not(.select) > .l-opt-tr:after{
    border-color: transparent !important;
}
.q-opt.select > .r-opt-tr:after, .q-opt.lock > .r-opt-tr:after, .q-opt:hover:not(.select) > .r-opt-tr:after{
    border-color: transparent !important;
}
.l-opt-tr, .r-opt-tr{
    position: relative;
    width: 0;
    height: 0;
    border-top: 65px solid transparent;
    border-bottom: 65px solid transparent;
}
.l-opt-tr{
    border-right: 65px solid lightskyblue;
    border-left: 65px solid transparent;
}
.r-opt-tr{
    border-right: 65px solid transparent;
    border-left: 65px solid lightskyblue;
}
.l-opt-tr:before, .l-opt-tr:after{
    right: -65px;
}
.l-opt-tr:before{
    bottom: -65px;
    border-color: transparent gold transparent transparent;
    border-width: 65px;
}
.l-opt-tr:after{
    bottom: -60px;
    border-color: transparent lightskyblue transparent transparent;
    border-width: 60px;
}
.r-opt-tr:before, .r-opt-tr:after{
    left: -65px;
}
.r-opt-tr:before{
    bottom: -65px;
    border-color: transparent transparent transparent gold;
    border-width: 65px;
}
.r-opt-tr:after{
    bottom: -60px;
    border-color: transparent transparent transparent lightskyblue;
    border-width: 60px;
}
.opt{
    display: flex;
    flex-flow: column nowrap;
    height: 130px;
    z-index: 1;
}
.opt:not(.open) table{
    display: none;
}
.opt table{
    font-size: x-large;
    width: 110%;
    height: 100%;
    margin-left: -35px;
    vertical-align: middle;
}
.opt table tr td:first-child{
    white-space: nowrap;
    width: 10%;
    font-weight: 600;
    text-align: center;
}
.opt table tr td:first-child:after{
    content: ".";
    margin-left: -3px;
}
.opt table tr td:last-child{
    width: 5%;
    padding: 0 10px;
}
.no_select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*BOTTOM BAR*/

.bottom-bar{
    flex-flow: row nowrap;
}
.kbc-btn{
    background: linear-gradient(to right, lightskyblue, aqua, lightskyblue);
    display: inline-block;
    padding: 10px 50px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    text-align: center;
    font-size: 35px;
    height: 150px;
    border: 10px solid gold;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
}
.kbc-btn:hover{
    background: linear-gradient(to right, gold 0%,lightgoldenrodyellow 50%,gold 100%);
}
.kbc-btn:disabled{
    background: linear-gradient(to right, grey, white, grey);
    pointer-events: none;
}