/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Aug, 2018, 11:14:38 PM
    Author     : Yashas Hr
*/

/*HOME CONTENT*/
.container{
    margin-top: -70px;
}
.panel{
    position: relative;
    width: 100%;
    height: 107.2vh;
    overflow: hidden;
}
.lg-panel{
    background-size: cover;
    background-position: center;
/*        radial-gradient(circle at 100% -50%, rgb(255,38,111),rgb(255,113,50),rgb(255,174,0));*/
    width: 100%;
    height: 100%;
    z-index: 20;
}
.lg-stretch{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
video{
    object-fit: cover;
}
.lg-overlay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.panel-content{
    display: block;
    position: absolute;
    top: 16%;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;
}

.panel-items{
    display: flex;
    position: relative;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    z-index: 20;
}
.panel-item{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    z-index: 30;
}
.font-mont{
    font-family: Montserrat;
}
.panel-title{
    color: #eee;
    white-space: nowrap;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 9px;
}
.start > .btn-white-green{
    font-size: 64px;
    font-weight: 900;
}
.start-play{
    content:'';
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url('/CS121/res/img/kbc-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
}
/*Responsive*/
@media (min-width: 600px){
    .panel-content{
        top: 20%;
    }
}
@media (max-width: 760px){
    .panel-items{
        width:100%;
    }
}
@media (max-width: 970px){
    .panel-items{
        width:80%;
    }
}